.tabContainer {
    width: 100%;
    /* background-color: gray; */
    padding: 0 70px;
    display: flex;
    gap: 10px;
}

.tab {
    box-sizing: border-box;
    font-size: 1.2rem;
    padding: 20px 30px;
    font-weight: bold;
    color: gray;
}

.selectedTab {
    border-radius: 10px 10px 0 0;
    border-bottom: 3px solid #3A781B;
    background-color: rgba(216, 234, 185, 0.4);
    color: #3A781B;
}