.wrapper {
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    background-color: rgba(216, 234, 185, 0.4);
    position: relative;
    padding: 10px 100px;
}

.innerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
}

.titleBox {
    display: flex;
    justify-content: start;
    width: fit-content;
}

.textBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.titleBox h2, .titleBox p {
    display: inline-block;
    margin: 5px;
    white-space : nowrap;
}

.link {
    text-decoration: none;
    color: #056C00;
    border: 2px solid #056C00;
    padding: 10px 30px;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    white-space : nowrap;
}

.featureBox {
    display: flex;
    justify-content: center;
    gap: 10%;
}

.featureItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.featureItem h3 {
    margin: 0;
    white-space : nowrap;
}

.featureItem img {
    margin: 10px;
}

.featureItem p{
    white-space: pre-wrap;
    margin: 0;
    white-space : nowrap;
}

.character {
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 300px;
}